<div data-role="page">

  <div>

	  <img src="<%=File.join(Rho::RhoApplication::get_model_path('public','images'), 'Barcode_UPC_01.png')%>" width='300px'></img><br/><a href="<%=url_for(:action => :scan1)%>">Scan</a><br/>

	  <img src="<%=File.join(Rho::RhoApplication::get_model_path('public','images'), 'Barcode_UPC_02.jpg')%>" width='300px'></img><br/><a href="<%=url_for(:action => :scan2)%>">Scan</a><br/>

    <img src="<%=File.join(Rho::RhoApplication::get_model_path('public','images'), 'Barcode_QR_01.png')%>" width='300px'></img><br/><a href="<%=url_for(:action => :scan3)%>">Scan</a><br/>

  </div>
</div>
